features/common-api/org.wso2.carbon.device.mgt.common.api.feature/src/main/resources/conf/iot-config.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="IoTDeviceTypeConfigManager" type="IoTDeviceTypeConfigManager"/>
  <xs:complexType name="IoTDeviceTypeConfigManager">
    <xs:sequence>
      <xs:element type="IotDeviceTypeConfig" name="IotDeviceTypeConfig" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="IotDeviceTypeConfig">
    <xs:sequence>
      <xs:element type="xs:string" name="DatasourceName"/>
      <xs:element type="xs:string" name="ApiApplicationName" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="type" use="required"/>
  </xs:complexType>
</xs:schema>